.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.options {
  display: flex;
  gap: 10px;
}

.option {
  padding: 10px;
  background-color: #f2f2f2;
  cursor: move;
}

.dropzone {
  padding: 20px;
  background-color: #ccc;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

