body {
    background-image: url("lab-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Subtract the height of the title */
    text-align: center;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    background-color: #f0f0f0;
    overflow: hidden;
  }
  
  .video {
    width: 100%;
    height: 100%;
  }
  .question-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .option {
    padding: 40px;
    background-color: #f2f2f2;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    transition: border 0.3s ease-in-out;
  }
  
  .option.correct {
    border: 5px solid #4CAF50;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  #selected-image {
    max-width: 400px;
    max-height: 400px;
  }
  
  .feedback {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .select-button-container {
    margin-top: 20px;
  }
  
  .select-button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
  }